Flask==3.0.3                # 웹 프레임워크
pymongo==4.8.0              # MongoDB 연결 라이브러리
APScheduler==3.10.4         # 스케줄링 라이브러리
bcrypt==3.2.0               # 비밀번호 해싱
blinker==1.8.2              # Flask에서 신호/이벤트 관련
certifi==2020.6.20          # SSL 인증서
chardet==4.0.0              # 텍스트 인코딩 탐지
click==8.1.7                # 명령줄 인터페이스 생성 도구
colorama==0.4.4             # 콘솔 출력 색상 처리
cryptography==3.4.8         # 암호화 관련 기능 (JWT 생성 시 사용)
dnspython==2.6.1            # DNS 처리 라이브러리 (MongoDB의 DNS 연결 시 필요할 수 있음)
idna==2.10                   # 국제화 도메인 이름 지원
itsdangerous==2.2.0         # 안전한 데이터 서명 (Flask에서 사용)
Jinja2==3.1.4               # Flask 템플릿 엔진
MarkupSafe==2.1.5           # 템플릿에서 안전한 HTML 처리
PyJWT==2.3.0                # JSON Web Token (JWT) 생성 및 검증
requests==2.25.1            # HTTP 요청 처리
six==1.16.0                 # Python 2 및 3 호환성 지원
tzlocal==5.2                # 로컬 타임존 처리
urllib3==1.26.5             # HTTP 클라이언트
Werkzeug==3.0.3             # WSGI 유틸리티 (Flask 내부에서 사용)
zipp==1.0.0                 # 패키징 관련
